Automotive Portal/SimpleTesting/.idea/

Furniture Store - React+Node/backend/node_modules/
Furniture Store - React+Node/frontend/node_modules/

WebDriver - testing the Pastebin platform/.idea/
WebDriver - testing the Pastebin platform/target/
WebDriver - testing the Pastebin platform/.git/

WebDriver - Framework_Cloud_Google/.idea/
WebDriver - Framework_Cloud_Google/target/
WebDriver - Framework_Cloud_Google/.git/

Sapper - offline game in Java swing/.idea/
Sapper - offline game in Java swing/target/
Sapper - offline game in Java swing/.git/

RESTful API - Swagger Petstore/__pycache__